span.css-10trblm.e16nr0p30
{
   
    
    border-radius: 9px;
    margin: 10px;
    padding: 10px;


}

section.css-163ttbj.e1fqkh3o10 
{   
    background-color: #c0cbd3;
    color: white;


}

div.css-1rvyln1.e1jwn65y3
{
    background-color: blue;
    color: aqua;



}





